/*Overall Body with background image, font family and content alignment right*/
body{ 
    text-align: right; 
    background-image: url("../media/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: 130%;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
} 

/*Styling CountDown Div Box*/
 #CountDownDiv{
    width: 600px;
    height: 200px;
    background-color: #2599BF;
    color: #ffffff; 
    display: inline-flex; 
    font-weight: 100; 
    text-align: center;
    font-size: 30px; 
    position:absolute;                  
    bottom:0;                          
    right:0;
    opacity: 0.9;
    align-content: center;
    margin-bottom: 100px;
    margin-right: 100px;
    box-sizing: border-box;
} 
/*Styling the inner content of CountDown Div*/
#CountDownDiv > div{ 
    padding: 20px; 
    background: #2599BF;
    display: inline-block;
    margin: 0 auto;
  
}

/*Styling the span (timer) of CountDown Div*/
#CountDownDiv div > span{ 
    width: 120px;
    height: 80px;
    background: #394348;
    display: inline-block;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 500;
    padding-top: 40px;
} 

/*Styling the labels of the Timer*/
.mediumText{ 
    padding-top: 5px; 
    font-size: 22px; 
    font-weight: bold;
    margin-bottom: 10px;
}

/*Styling the Event Detail Box */
 .EventDiv{
    width: 640px;
    height: 120px;
    background-color: #2599BF;
    margin: 0;
    color: #ffffff; 
    font-weight: 100; 
    text-align: left;
    font-size: 30px; 
    position:absolute;                  
    bottom:0;                          
    margin-bottom: 350px;
    margin-right: 60px;
    opacity: 0.8;
    right: 0;
    box-sizing: border-box;
    padding:20px 20px 30px 20px;
 }

 /*Styling the inner content of EventDiv */
.EventDiv > div > div{ 
    background: #2599BF;
}
.eventTitle{
    font-size: 30px;
    display: inline;
}

.eventDate{
    font-size: 20px;
    padding-left: 30px;
    display: inline;
}

.eventSubtitle{
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-top: 15px;
}
